<!DOCTYPE html>
<!-- Layout shamelessly stolen from mojombo.github.com. -->
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Aaron Jacobs" />

   <!-- Styling -->
   <link rel="stylesheet" href="/circuits/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/circuits/">Circuits</a>
  </div>

  {{ content }}
</div>

</body>
</html>
